<li>
    <div>
        <h2>CEO</h2>
        <button class="btn btn-success add-btn" hx-post="/add-subordinate" hx-target="#organizational-chart">Add Subordinate</button>
    </div>
    <ol class="conditional-line"></ol>
</li>
