<div>
    <h2>New Position</h2>
    <button class="btn btn-success add-btn" hx-post="/addSubordinate">Add Subordinate</button>
    <button class="btn btn-danger delete-btn" hx-post="/deleteStructure">Delete</button>
</div>
<ol class="conditional-line"></ol>
